@tailwind base;
@tailwind components;
@tailwind utilities;


.limit-lines{
        padding-bottom: 4px;;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
                line-clamp: 3; 
        -webkit-box-orient: vertical;

}

.limit-para{
    padding-top: 10px;
    padding-bottom: 4px;;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 7; /* number of lines to show */
                line-clamp: 7; 
        -webkit-box-orient: vertical;

}